.wrapper {
	display: flex;
	flex-flow: column nowrap;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
}

.reset {
	margin-top: 40px;
	padding: 5px 10px;
	text-transform: uppercase;
	cursor: pointer;
}

.winner {
	color: white;
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}
